@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background-color: darkseagreen;
}

.navbar a {
  text-decoration: none;
  color: #000;
}
.navbar-nav {
  list-style-type: none;
}

.link {
  padding: 1rem;
  display: inline-block;
}