@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 720px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  background-color: darkseagreen;
}

.navbar a {
  text-decoration: none;
  color: #000;
}
.navbar-nav {
  list-style-type: none;
}

.link {
  padding: 1rem;
  display: inline-block;
}


.contact {
  background: darkseagreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-wrapper {
  flex: 1;
  padding-right: 2rem;
}

.text {
  flex: 1;
}
.input-wrapper input {
  width: 100%;
  padding: .5rem;
  border-radius: 10px;
  border: 1px solid #eee;
}
.text {
  padding-block: 3rem;
}
.text h2 {
  margin-bottom: 1rem;

.hero {
  background: #efe2ff;
}
.image {
  /* STYR DIVEN ISTÖÄLLET FÖR BILDEN */
}
.image img {
  width: 100%;
}
.text-hero {
  text-align: center;
}